.navbar {
    background-color: #6BA149;
    height: 180px;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Calibri;
    border: black;
    border-style: solid;
    border: 1px;
    padding: 14px 16px;

}

.navtabs{
    float: left;
    padding-left: 300px;
    padding-top: 50px;
    border: black;
    border-style: solid;
    border: 1px;
    list-style-type: none;

}

.navtabs > li {
    float: left;

}

.homeimage {
    width: 150px;
    height: 150px;

}

.navbar a:hover {
    background-color: blue;
    color: black;
}

/*
.rectangle1{
    border-color: black;
    border: 1px;
    height:600px;
    width: 25%;     
}*/

.maintextindex{
    font-family: Calibri;
    font-size: 15px;
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 25%;
    padding: 0%;
}

.footer {
    border-style: solid;
    border: 1px;
    border-color: black;
    font-family: Calibri;
    background-color: #6BA149;
    position: absolute;
    width: 100%;
    
}

.imgclass{
    position: absolute;

}

html, body {
    margin: 0; 
    padding: 0;
  }
/*
.tableclass, th, td {
    border: 1px solid black;
    border-spacing: 5px;
}
*/
.formclass{
    padding-top: 300px;
    padding-left: 25%;
}

body{
    background-color: #8E6846;
}



